.NavBar {
    background-color: #f8fBf8;
    border: 1px solid #dadadf;
    margin-bottom: 0px;
}

.NavLink {
    padding: 10px;
    text-decoration: none;
}

.Active i {
    color: #6a6a6a;
}

i {
    color: #1e1e1e;;
}

@media only screen and (min-width: 765px) and (max-width: 1179px) {
    .NavLink {
        padding: 2px;
    }
}