.Row {
    height: calc(100vh - 81px);
}

.Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #404040;
    text-align: center;
    padding: 10px;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}

.Link span {
    color: #ff9254;
}

.Container {
    padding: 30px 10px;
}

.SignInCol {
    height: 300px;
}

.SignUpCol {
    height: 355px;
}

.Button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: white;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.SignInUpImage {
    height: 260px;
}

@media only screen and (max-width: 600px) {
    .SignInCol {
        height: 500px;
    }
    .SignUpCol {
        height: 400px;
    }
}